<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @incident_strategy.name %>
</p>

<%= link_to 'Edit', edit_incident_strategy_path(@incident_strategy) %> |
<%= link_to 'Back', incident_strategies_path %>
