// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.timer_task {
	width: 120px!important;
	display:block;
	background-color: #FFF;
	border: none;

	.countdown-row.countdown-show3{
		.countdown-section:first-child {
			display:none;
		}
	}
}


